<div class="aboutView">

   <div class="panel panel-default aboutMeDiv">
      <div class="panel-body">
         <div class="myImgDiv">
            <img class="myImg" src="assests/imgs/me.jpg" alt="My Image" />
         </div>
         <div class="myDetailsDiv">
            <h4>Muhammad Shahrukh Khan Ghori</h4>
            <p>Web Developer</p>
            <table>
               <tr>
                  <td>Technologies</td>
                  <td>:</td>
                  <td>Node/Express.js, HTML5, CSS3, Javascript, C#, C</td>
               </tr>
               <tr>
                  <td>Frameworks</td>
                  <td>:</td>
                  <td>AngularJs</td>
               </tr>
               <tr>
                  <td>Libraries</td>
                  <td>:</td>
                  <td>Jquery, Bootstrap</td>
               </tr>
               <tr>
                  <td>Database</td>
                  <td>:</td>
                  <td>MongoDB, MS SQL Server</td>
               </tr>
            </table>
         </div>
      </div>
   </div>

   <div class="panel panel-default aboutProjectDiv">
      <div class="panel-heading">
         <h3 class="panel-title">DeVeS</h3>
      </div>
      <div class="panel-body">
         <p>
            DeVeS is an abbreviation for <i>Developers</i>. This project will provide you the
            details of students and teachers that are part of <i>Saylani Software
            Development Program <i> and <i>Sir Syed University's CEP Program</i>. You can search
            for a specific student/teacher or the complete list of student/teachers in
            Devs section. You can create your own profile by signing up, give you basic
            information, marks, github links of projects you had already completed or currently
            working on.
         </p>
      </div>
   </div>



</div>
