<div class="devsPrivateView">
	
	<div class="devsPrivateDiv">
		
		<div class="devsPrivateImgDiv">
			<img src="assests/imgs/user.jpg">
		</div>
		<h4>{{devspri.user.name}}</h4>
		<p>
			{{devspri.user.interest}}<br>
			{{devspri.user.profession}}<br>
			{{devspri.user.institute}}<br>
		</p>
		
		<table>
			<tr>
				<td>Technologies</td>
				<td>:</td>
				<td>{{devspri.user.technologies}}</td>
			</tr>
			<tr>
				<td>Frameworks</td>
				<td>:</td>
				<td>{{devspri.user.frameworks}}</td>
			</tr>
			<tr>
				<td>Libraries</td>
				<td>:</td>
				<td>{{devspri.user.libraries}}</td>
			</tr>
			<tr>
				<td>Database</td>
				<td>:</td>
				<td>{{devspri.user.database}}</td>
			</tr>
		</table>
		<h5>emailto : {{devspri.user.email}}</h5>
	</div>

</div>